
<div class="left_column">
<fieldset>
	<legend><em>2</em>Product Configuration</legend>
	<p>Second, configure the product including the <em>name</em>, <em>price</em> and <em>url slug</em>.</p>
	<label for="product_name" style="width:39px;">Name</label>
	<%= f.text_field :name, :size => 20, :name => "product[name]", :id => "product_name", :class => "text" %>

	<label for="product_name" style="width:39px;">Slug</label>
	<%= f.text_field :name, :size => 20, :name => "product[name]", :id => "product_name", :class => "text" %>
</fieldset>
	<fieldset>
		<legend><em>3</em>Base Configuration</legend>
	<label for="product_price" style="width:35px;">Price</label>
	<%= f.text_field :price, :size => 8, :name => "product[price]", :id => "product_price", :class => "text" %>

	<label for="product_price" style="width:35px;">Ship</label>
	<%= f.text_field :price, :size => 8, :name => "product[price]", :id => "product_price", :class => "text" %>

	<label for="product_price" style="width:35px;">Weight</label>
	<%= f.text_field :price, :size => 8, :name => "product[price]", :id => "product_price", :class => "text" %>

	</fieldset>



</div>
